# Tell GitHub Linguist to ignore frontend files
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false

# Ensure Python is fully counted
*.py linguist-detectable=true
*.ipynb linguist-detectable=true
*.txt linguist-detectable=true